<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="accountDao" class="com.cube.dao.AccountDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--  配置JdbcTemplate  -->
    <!--  继承JdbcDaoSupport时注释  -->
    <!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">-->
    <!--        <constructor-arg name="dataSource" ref="dataSource"/>-->
    <!--    </bean>-->

    <!--  配置数据源  -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/spring?serverTimezone=GMT%2B8"/>
        <property name="username" value="root"/>
        <property name="password" value="passwd"/>
    </bean>

</beans>