<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--MySQL主配置文件-->
<configuration>
    <!--  延迟加载  -->
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.cube.bean"/>
    </typeAliases>

    <!--  配置环境  -->
    <environments default="mysql">

        <environment id="mysql">
            <!--      配置事务类型      -->
            <transactionManager type="JDBC">

            </transactionManager>
            <!--      配置数据源（连接池）      -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/spring?serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="passwd"/>
            </dataSource>

        </environment>
    </environments>

    <!--  指定映射配置文件的位置，映射配置文件指的是每个Dao独立的配置文件  -->
    <mappers>
        <!--    注意：如果使用package，mapper文件名必须和接口名完全一致    -->
        <package name="com.cube.Dao"/>
        <!--        <mapper resource="com/cube/Dao/IAccountDao.xml"/>-->
        <!--        <mapper resource="com/cube/Dao/IUserDao.xml"/>-->
    </mappers>

</configuration>